<ul class="cards">
  <h1>Awesome Camping Spots</h1>
  <% @camping_spots.each do |camping_spot| %>
    <li class="card camping_spot-card">
      <div class="card-container">
        <% if camping_spot.photos.attached? %>
          <%= cl_image_tag camping_spot.photos.first.key, height: 250, width: 350, crop: :fill %>
        <% end %>
        <div class="card-container__items">
          <div class="card-text">
            <%= link_to camping_spot.title, camping_spot_path(camping_spot) %>:<br />
            <p><%= camping_spot.description %></p>
            <p>Location:<br/>
              <%= camping_spot.location %>
            </p>
          </div>
          <h2 class="card-price"><%= camping_spot.price %>$ / night</h2>
        </div>
      </div>
    </li>
  <% end %>
</ul>

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
