<div class="row">
  <div class="col-12">
    <h1 class="index-title text-center">My Camping Spots</h1>
  </div>
</div>
<div class="row my-spots">
  <div class="col-sm-12 col-md-12 col-lg-8">
    <div class="cards">
      <% @camping_spots.each do |camping_spot| %>
        <%= link_to camping_spot_path(camping_spot) do %>
          <div class="card-container">
            <% if camping_spot.photos.attached? %>
              <%= cl_image_tag camping_spot.photos.first.key, height: 250, width: 350, crop: :fill, class:"host-img" %>
            <% end %>
            <div class="card-container__items">
              <div class="card-text">
                <h2><%= camping_spot.title %>:</h2>
                <p><%= camping_spot.description %></p>
                <p><em>Location: </em><%= camping_spot.location %>
                </p>
              </div>
              <div class="edit-delete">
                <%= link_to 'edit', edit_camping_spot_path(camping_spot), class: 'btn btn-warning' %>
                <%= link_to 'delete', camping_spot_path(camping_spot), method: :delete,
                    class: 'btn btn-danger', data: { confirm: "Are you sure?" } %>
              </div>
              <h2 class="card-price"><%= camping_spot.price %>$ / night</h2>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
