<h1>Add a new camping spot</h1>

<%= simple_form_for @camping_spot do |f| %>
  <%= f.input :location %>
  <%= f.input :price %>
  <%= f.input :capacity %>
  <%= f.input :description %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.submit %>
<% end %>
