<div class="row">
  <div class="container">
    <div class="card-container show-card">
      <div class="col-sm-12 col-lg-6">
        <div>
          <% if @camping_spot.photos.attached? %>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <%= cl_image_tag @camping_spot.photos.first.key, height: 250, width: 350, crop: :fill %>
                </div>
                  <% @camping_spot.photos.each do |photo_id| %>
                    <div class="carousel-item">
                      <%= cl_image_tag photo_id.key, height: 250, width: 350, crop: :fill %>
                    </div>
                  <% end %>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-sm-12 col-lg-6">
        <div class="show-card-items">
          <div class="card-text">
            <h2><%= @camping_spot.title %>:</h2>
            <p><%= @camping_spot.description %></p>
            <p><em>Location: </em><%= @camping_spot.location %>
            <p>Quantity of lots: <%= @camping_spot.capacity %></p>
            <p>Hosted by: <%= @camping_spot.host.first_name %></p>
            </p>
          </div>
          <h2 class="card-price"><%= @camping_spot.price %>$ / night</h2>
          <div class="confirm">
            <%= link_to 'Book this camping spot', new_camping_spot_booking_path(@camping_spot), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
