<div class="card-product">
  <% #@camping_spot.photos.each do |photo| %>
    <% if @camping_spot.photos.attached? %>
      <%= cl_image_tag @camping_spot.photos.first.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  <% #end %>
  <div class="card-product-infos">
    <h1><%= @camping_spot.title %></h1>
    <p><%= @camping_spot.description %></p>
    <p><%= @camping_spot.location %></p>
    <p>Quantity of lots: <%= @camping_spot.capacity %></p>
    <p>Hosted by: <%= @camping_spot.host.first_name %></p>
    <div class="confirm">
    <%= link_to 'Book this camping spot', new_camping_spot_booking_path(@camping_spot), class: 'btn btn-primary' %>
    </div>
  </div>
</div>
