<h1>My Host Bookings</h1>

<h2>Pending Requests</h2>

<% if @pending_bookings.blank? %>
  <p>You have no pending bookings.</p>
<% else %>
  <ul class="list-group">
    <% @pending_bookings.each do |booking| %>
      <li class="list-group-item bg-transparent">
        <h3><%= link_to booking.camping_spot.title, camping_spot_path(booking.camping_spot) %></h3>
        <p>Visitor: <%= booking.visitor.name %></p>
        <p>Arrival Date: <%= booking.arrival_date %></p>
        <p>Departure Date: <%= booking.departure_date %></p>
        <%= link_to 'Accept', accept_booking_path(booking), method: :patch, class: 'btn btn-success' %>
        <%= link_to 'Decline', decline_booking_path(booking), method: :patch, class: 'btn btn-danger' %>
      </li>
    <% end %>
</ul>
<% end %>

<h2>Approved Requests</h2>

<% if @approved_bookings.blank? %>
  <p>You have no approved bookings yet.</p>
<% else %>
  <ul class="list-group">
    <% @approved_bookings.each do |booking| %>
      <li class="list-group-item list-group-item-success">
        <h3><%= link_to booking.camping_spot.title, camping_spot_path(booking.camping_spot) %></h3>
        <p>Visitor: <%= booking.visitor.name %></p>
        <p>Arrival Date: <%= booking.arrival_date %></p>
        <p>Departure Date: <%= booking.departure_date %></p>
      </li>
    <% end %>
  </ul>
<% end %>
