<div class="navbar navbar-expand-sm navbar-light navbar-splat">
    <%= link_to image_tag("https://img.icons8.com/external-konkapp-flat-konkapp/64/000000/external-van-transportation-konkapp-flat-konkapp-1.png"), root_path, class: "navbar-brand" %>

  <ul class="navbar-nav option">
    <li class="nav-item active px-4">
      <%= link_to "Places to stay", camping_spots_path, class: "nav-link" %>
      <%# <a class="nav-link" href="#">Places to stay</a> %>
    </li>
    <li class="nav-item active px-4">
      <%= link_to "Become a host", new_camping_spot_path, class: "nav-link" %>
      <%# <a class="nav-link" href="#">Become a host</a> %>
    </li>
  </ul>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            <%= link_to "My bookings", my_bookings_path, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <div class="devise-links">
          <%= link_to "Log in", new_user_session_path, class: "dropdown-item" %>
        </div>
      <% end %>
    </ul>
  </div>
</div>
