<!DOCTYPE html>
<html>
  <head>
    <title>Splat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>

    <% # Add a bootstrap container, except for pages#home %>
    <% unless params[:controller] == "pages" && params[:action] == "home" %>
      <div class="container">
    <% end %>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>

    <% unless params[:controller] == "pages" && params[:action] == "home" %>
      </div>
    <% end %>

    <%= render 'shared/footer' %>
  </body>
</html>
